<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script th:src="@{/js/user1.js}"></script>
	</head>
	<body>
		<h3>Ch09. 스프링 REST 웹서비스 실습</h3>
		
		<h4>user1</h4>
			<button class="user1list1">1</button>
			<button class="user1list2">2</button>
			<button class="user1register">3</button>
			<button class="user1modify">4</button>
			<button class="user1delete">5</button>
			
		<h4>member</h4>
			<button class="member list1">1</button>
			<button class="member list2">2</button>
			<button class="member register">3</button>
			<button class="member modify">4</button>
			<button class="member delete">5</button>
	</body>
</html>