<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>book::list</title>
	</head>
	<body>
		<h3>도서목록</h3>
		<a th:href="@{/index}">처음으로</a>
		<a th:href="@{/book/register}">도서등록</a>
		<table border="1">
			<tr>
				<th>도서번호</th>
				<th>도서명</th>
				<th>출판사</th>
				<th>가격</th>
				<th>관리</th>
			</tr>
			<tr th:each="book:${books}">
				<td th:text="${book.bookId}">도서번호</td>
				<td th:text="${book.bookName}">도서명</td>
				<td th:text="${book.publisher}">출판사</td>
				<td th:text="${book.price}">가격</td>
				<td>
					<a th:href="@{/book/modify?(bookId=${book.bookId})}">수정</a>
					<a th:href="@{/book/delete??(bookId=${book.bookId})}">삭제</a>
				</td>
			</tr>
		</table>
	</body>
</html>